config-groups:
  - AWS
  - IP_RESOLVER_SERVICE
  - GITHUB
AWS:
  ACCESS_KEY_ID: 
  DEFAULT_OUTPUT: json
  DEFAULT_REGION: 
  SECRET_ACCESS_KEY: 
  SECURITY_GROUP_ID: 
IP_RESOLVER_SERVICE:
  HREF: https://api.ipify.org
GITHUB:
  SERVICE_HREF: https://api.github.com/meta
  SERVICE_USERNAME: 
